* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f2a0e;
  background-image: url(../img/top-img.png), url(../img/background-circle.png);
  background-repeat: no-repeat;
  background-position: center 16px, left 560px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
}
.center {
  max-width: 375px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.big-text {
  text-transform: uppercase;
}

.page-header {
  padding: 22px 0 21px;
  border-bottom: 1px solid rgba(7, 200, 0, 0.3);
}
.page-header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-wrp {
  height: 36px;
  width: 50px;
}
.page-header__logo-wrp > a {
  display: block;
  height: 36px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__menu-wrp {
  /* width: 35px;
    height: 24px; */
}
/* burger */
.burger-menu {
  display: block;
}
.menu-icon {
  position: relative;
  display: block;
  border-radius: 8px;
  width: 35px;
  height: 25px;
  background: transparent;
}
.menu-icon:hover {
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.menu-icon span,
.menu-icon span::after,
.menu-icon span::before {
  position: absolute;
  border-radius: 20px;
  width: 35px;
  height: 3px;
  background: linear-gradient(135deg, #07c800 0%, #57ff51 61.26%, #07c800 100%);
  left: 0;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.menu-icon span {
  top: 11px;
  left: 0px;
}
.menu-icon span::after {
  content: "";
  top: -11px;
}
.menu-icon span::before {
  content: "";
  top: 11px;
}
#menu-switch {
  display: none;
}
#menu-switch:checked ~ .menu-list {
  visibility: visible;
  opacity: 1;
}
#menu-switch:checked ~ .menu-icon > span {
  background: transparent;
}
#menu-switch:checked ~ .menu-icon {
  z-index: 3;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#menu-switch:checked ~ .menu-icon > span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  background-color: #3c4260;
  opacity: 0.7;
}
#menu-switch:checked ~ .menu-icon > span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
  background-color: #3c4260;
  opacity: 0.7;
  z-index: 3;
}
.menu-list {
  background: -o-linear-gradient(8.45deg, #ffc83e 33.93%, #ff7347 73.78%);
  background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff7347 73.78%);
  max-width: 360px;
  width: 100%;
  height: 270px;
  border-radius: 8px;
  position: absolute;
  left: 0px;
  z-index: 2;
  top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  gap: 8px;
  visibility: hidden;
  opacity: 0.1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-list__item {
  max-width: 120px;
  width: 100%;
  min-height: 17px;
  text-align: center;
}
.menu-list__item:first-child {
  margin: 0 0 16px 0;
}

.top-promo {
  margin: 0 auto 43px;
  padding-top: 350px;
}
.top-promo__wrp-discription {
}
.top-promo__title {
  max-width: 294px;
  width: 1005;
  min-height: 108px;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  background: var(
    --g-white,
    linear-gradient(135deg, #e3e3e3 0.7%, #e3e3e3 55.21%, #e3e3e3 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-promo__txt {
  max-width: 277px;
  width: 100%;
  min-height: 115px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #ececec;
  margin: 0 0 40px 0;
}
.top-promo__wrp-btn {
  max-width: 345px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.top-promo__create-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  color: #000;
  border-radius: 10px;
  background: linear-gradient(135deg, #07c800 0%, #57ff51 61.26%, #07c800 100%);
  border: none;
  outline: none;
  width: 168px;
  min-height: 60px;
}
.top-promo__about-btn {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #57ff51;
  width: 165px;
  height: 58px;
  border: 1px none;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #0f2a0e;
}
.top-promo__about-btn::after {
  content: "";
  position: absolute;
  width: 167px;
  height: 60px;
  background: linear-gradient(135deg, #07c800 0%, #57ff51 61.26%, #07c800 100%);
  border-radius: 10px;
  top: -1px;
  left: -1px;
  z-index: -1;
}

.ribbon-nft {
  outline: 1px solid red;
  height: 80px;
  width: 1955px;
  background: linear-gradient(135deg, #0f2a0e 0%, #57ff51 100%);
  background-image: url(../img/hn.png);
  background-repeat: no-repeat;
  background-position: 0 -80px;
  margin-bottom: 48px;
}
.start-creating__discription-wrp {
  margin: 0 0 11px;
}
.start-creating__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  background: linear-gradient(
    135deg,
    #e3e3e3 0.7%,
    #e3e3e3 55.21%,
    #e3e3e3 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start-creating__text {
  color: #ececec;
  font-family: Open Sans;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  max-width: 345px;
  width: 100%;
  min-height: 69px;
}
.start-creating__selection-panel {
  position: relative;
  z-index: 1;
  margin: 0 0 22px;
  max-width: 345px;
  width: 100%;
  height: 94px;
  border-radius: 10px;
  /* background: rgba(87, 255, 81, 0.3); */
}
.start-creating__selection-panel::after {
  content: "";
  position: absolute;
  z-index: -2;
  top: -1px;
  left: -1px;
  max-width: 345px;
  width: 100%;
  height: 94px;
  border-radius: 10px;
  background: linear-gradient(135deg, #07c800 0%, #57ff51 61.26%, #07c800 100%);
}
.selection-panel__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 343px;
  width: 100%;
  height: 92px;
  border: 1px transparent;
  border-radius: 10px;
  background: #256a22;
}
.selection-panel__label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
#basik + label {
  padding: 29px 31px 29px 25px;
  width: 110px;
}
#professional + label {
  width: 152px;
  padding: 29px 21px 29px 7px;
}
#elite + label {
  width: 72px;
  padding: 29px 17px 29px 12px;
}
.selection-panel__input {
  display: none;
}
.selection-panel__input:checked + .selection-panel__label {
  color: #000;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(135deg, #07c800 0%, #57ff51 61.26%, #07c800 100%);
}

.start-creating__icon-panel {
  max-width: 345px;
  width: 100%;
  min-height: 479px;
  margin: 0 0 45px;
}
.icon-panel__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 21px;
}
.icon-panel__item,
.icon-panel__card {
  max-width: 168px;
  width: 100%;
  min-height: 229px;
}

.icon-panel__card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon-panel__img-wrp {
  position: relative;
  width: 168px;
  height: 168px;
  background: linear-gradient(
    to bottom,
    #08d900 24.7%,
    #0f2a0e 55.21%,
    #0f2a0e 100%
  );
  border-radius: 100%;
  margin: 0 0 10px;
}
.icon-panel__img {
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  height: 166px;
  border-radius: 100%;
}
.icon-panel__name,
.icon-panel__txt {
  display: block;
  text-transform: capitalize;
  background: linear-gradient(
    135deg,
    #e3e3e3 0.7%,
    #e3e3e3 55.21%,
    #e3e3e3 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-panel__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.icon-panel__txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.creaty-list {
}
.creaty-list__discription {
  min-height: 73px;
  max-width: 320px;
  width: 100%;
  margin: 0 0 11px;
}
.creaty-list__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  background: var(
    --g-white,
    linear-gradient(135deg, #e3e3e3 0.7%, #e3e3e3 55.21%, #e3e3e3 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.creaty-list__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ececec;
}

.creaty-list__card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.creaty-list__card-item {
  position: relative;
  padding: 15px 11px 16px 15px;
  max-width: 345px;
  width: 100%;
  border-radius: 3px;
  background: linear-gradient(135deg, #07c800 0%, #57ff51 61.26%, #07c800 100%);
}
.creaty-list__card-item::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 12px;
  background-image: url(../img/image-card-item1.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
.creaty-list__card-item:nth-child(2)::after {
  background-image: url(../img/image-card-item2.png);
}
.creaty-list__card-item:nth-child(3)::after {
  background-image: url(../img/image-card-item3.png);
}

.card-item__txt-wrp {
}
.card-item__title {
  margin: 0 0 9px;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000;
}
.creaty-list__card-item:nth-child(2) .card-item__title {
  font-size: 19.892px;
  margin: 1px 0 12px;
}
.creaty-list__card-item:nth-child(3) .card-item__title {
  font-size: 19.892px;
  margin: 0 0 10px;
}
.card-item__text {
  margin: 0 0 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}
.creaty-list__card-item:nth-child(2) .card-item__text {
  margin: 0 0 13px;
}
.creaty-list__card-item:nth-child(3) .card-item__text {
  margin: 0 0 16px;
}

.card-item__link {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000;
}

.card-item__link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -39px;
  width: 29px;
  height: 7px;
  background-image: url(../img/arrow-card-link.svg);
  background-repeat: no-repeat;
}
.creaty-list__card-item:nth-child(2) .card-item__link::after {
  top: 8px;
  right: -37px;
}
.creaty-list__card-item:nth-child(3) .card-item__link::after {
  top: 7px;
  right: -54px;
}
